<h2>Premium Features</h2>
<table style="margin-left: auto; margin-right: auto;" title="Premium Features" cellpadding="20">
<tbody>
<tr>
<td><img src="https://openclipart.org/image/90px/svg_to_png/268063/green_basic_star_burst.png" width="90" height="90" />Durable, eco-friendly vegan leather</td>
<td><img src="https://openclipart.org/image/90px/svg_to_png/268064/blue_basic_star_burst.png" alt="" width="90" height="90" />Reinforced precision stitching</td>
<td>
<h3><img src="https://openclipart.org/image/90px/svg_to_png/268065/yellow_basic_star_burst.png" alt="" width="90" height="90" />Solid-cast hardware</h3>
</td>
</tr>
<tr>
<td><img src="https://openclipart.org/image/90px/svg_to_png/268062/red_basic_star_burst.png" alt="" width="90" height="90" />Patent-pending built-in accessorizing</td>
<td><img src={{cdn 'icons/yellow_basic_star_burst.svg'}} alt="" width="90" height="90" />Stylish construction and adjustability</td>
<td><img src={{cdn 'icons/green_basic_star_burst.svg'}} alt="" width="90" height="90" />One year warranty</td>
</tr>
</tbody>
</table>